.content {
  padding: 10px 50px 0 50px;

  margin: 0 auto;
  opacity: 0.9;
  margin-top: -20px;
  width: 80%;
  border: 3px solid rgb(41, 40, 40);
}
.content h1 {
  text-shadow: 1px 1px #bbada9;
  margin-bottom: 4px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

hr {
  border: none;
  background-color: rgb(41, 40, 40);
  color: rgb(41, 40, 40);
  height: 2px;
}

.forecastmiddle img {
  margin: 15px 0 15px 0;

  width: 70%;
}
.weektemp h2 {
  text-shadow: 1px 1px #bbada9;
}

@media (max-width: 994px) {
  .content {
    width: 90%;
  }
  #pHum {
    margin-left: -5px;
  }
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 20px 20px 10px 20px;
  }
  #pHum {
    margin-left: -10px;
  }
  .weathermarkers p {
    font-size: 20px;
  }
  .search {
    max-width: 200px;
  }
  .submit {
    max-width: 50px;
  }
  #current {
    margin-left: 5px;
  }
}

.search {
  background-color: #b0a09b5e;
  border: 3px solid #a3aab0;
  border-radius: 26px;
  height: 50px;
  width: 300px;
  padding: 0 40px;
  margin-right: 10px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/831/original/sound.png?1657298218);
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 40px;
  box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.268);
}
.search::placeholder {
  font-style: italic;
  font-size: 22px;
  color: rgb(41, 40, 40);
}
.form1 {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
}
.submit {
  box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.268);
  border: 3px solid #a3aab0;
  background-color: #b0a09b5e;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/830/original/search.png?1657298154);
  background-size: 50%;
  height: 50px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 26px;
}

@media (max-width: 400px) {
  #current {
    display: none;
  }
  .submit {
    max-width: 60px;
    max-height: 40px;
  }
  .search {
    max-width: 170px;
    max-height: 40px;
  }
  .main-weather div {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .currentweather {
    max-width: 20%;
  }
  .value {
    max-width: 80%;
    margin: 0 auto;
  }
}
