.search {
  background-color: #b0a09b5e;
  border: 3px solid #a3aab0;
  border-radius: 26px;
  height: 50px;
  width: 300px;
  padding: 0 40px;
  margin-right: 10px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/831/original/sound.png?1657298218);
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 40px;
  box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.268);
}
.search::placeholder {
  font-style: italic;
  font-size: 22px;
  color: rgb(41, 40, 40);
}
.form1 {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
}
.submit {
  box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.268);
  border: 3px solid #a3aab0;
  background-color: #b0a09b5e;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/830/original/search.png?1657298154);
  background-size: 50%;
  height: 50px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 26px;
}
