.content {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/825/original/fon11_%E2%80%94_%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png?1657297395);
  padding: 30px 50px 0 50px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  opacity: 0.9;
  margin-top: 1px;
  width: 70%;
  height: 80%;
  border: 3px solid rgb(41, 40, 40);
}
.content h1 {
  text-shadow: 1px 1px #bbada9;
}
.currentweatherlabel {
  font-style: italic;
}
.container {
  display: flex;
  justify-content: center;
}
hr {
  border: none;
  background-color: rgb(41, 40, 40);
  color: rgb(41, 40, 40);
  height: 2px;
}

.forecastmiddle img {
  margin: 15px 0 15px 0;

  width: 70%;
}

#time {
  padding-top: 0;
}
#day {
  margin-bottom: 0;
}
.degrees {
  display: flex;
  justify-content: center;
}

.CF {
  display: flex;
}
.CF p {
  color: #d3d3d3be;
  padding-left: 10px;
  background-color: none;
  padding-top: 10px;
  font-weight: bold;
  text-shadow: 3px -1px rgb(55, 55, 55);
}
#CFline {
  color: rgb(41, 40, 40);
  text-shadow: none;
}
#celcium:hover {
  text-decoration: underline;
  cursor: pointer;
}
#farenheit {
  padding-left: 6px;
}
#farenheit:hover {
  cursor: pointer;
  text-decoration: underline;
}
.active {
  text-decoration: underline;
}
#min_temp {
  padding-left: 5px;
}
#max_temp {
  padding-left: 5px;
}
#pHum {
  margin-left: -10px;
}
.currentweatherlabel {
  margin-left: 10px;
}
#current {
  margin-left: 20px;
  background-image: none;
  padding-left: 5px;
  color: rgb(41, 40, 40);
  cursor: pointer;
}

@media (max-width: 994px) {
  .content {
    width: 90%;
  }
  #pHum {
    margin-left: -5px;
  }
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 20px 20px 10px 20px;
  }
  #pHum {
    margin-left: -10px;
  }
  .weathermarkers p {
    font-size: 20px;
  }
  .search {
    max-width: 200px;
  }
  .submit {
    max-width: 50px;
  }
  #current {
    margin-left: 5px;
  }
}
@media (max-width: 400px) {
  #current {
    display: none;
  }
  .submit {
    max-width: 60px;
    max-height: 40px;
  }
  .search {
    max-width: 170px;
    max-height: 40px;
  }
  .main-weather div {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .currentweather {
    max-width: 20%;
  }
  .value {
    max-width: 80%;
    margin: 0 auto;
  }
}
.background {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/825/original/fon11_%E2%80%94_%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png?1657297395);
  background-size: cover;
  background-position: center;
}
