.sourselink {
  margin: 30px 0px 30px 30px;
  font-size: 22px;
  color: rgb(41, 40, 40);
}
.weektemp h2 {
  text-shadow: 1px 1px #bbada9;
}
.weektemp .col2 {
  box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.268);
  padding: 10px 0 0 0;
  border: 3px solid none;
  border-radius: 3px;
  background-color: #b9b9b93a;
  font-size: 18px;
  width: 14%;
}
.weektemp p {
  width: 70%;
  margin: 0 auto;
  border-radius: 16px;
  border: 2px solid #a3aab0;
}
.weektemp .row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0 10px 0;
}
